@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa&display=swap');

h1,h2,h3,h4,h4{
    font-family: 'Lexend Exa', sans-serif;
}

#nav{
    box-shadow: ;
}

#nav li{
    font-family: 'Lexend Exa', sans-serif;
    font-size: 0.8rem;
}


#sectionOne{
    background-image: url(src/images/background.png);
    background-position: top;
    background-repeat: no-repeat; 
}

#sectionOneContainer{
    margin-top: 10%;
    z-index: 100;
}

#sectionOneContainer #titleHackaton{
    font-size: 5rem;
    font-family: 'Lexend Exa', sans-serif;
}

#computerImage{
    top: 5%;
    left: 60%;
    z-index: 2;
} 

#computerImageShadow{
    max-width: 550px;
    top: 0px;
    right: 0px;
} 

#rocketImage{
    max-width: 400px;
    left: 3%;
    z-index: 1;
} 

#rocketImageCenter{
    left: 50%; 
    top: 10%; 
    z-index: 0;
}

#codeBlock{
    margin-top: 30%;
    margin-bottom: 20%;
}

#seta{ 
   left: 50%;
   opacity: 0.2;
}

#seta2{ 
    top: 20px;
    left: 50%;
    opacity: 0.5;
 }

 #seta3{ 
    top: 40px;
    left: 50%;
 }

 #sectionTwo{
     background-color: #1F0A57;
 }